<?xml version="1.0"?>
<config>
    <modules>
        <Degriz_CategoryFaq>
            <version>0.1.0</version>
        </Degriz_CategoryFaq>
    </modules>
    <global>
        <resources>
            <degriz_dbchange_setup>
              <setup>
                   <module>Degriz_CategoryFaq</module>
                   <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
              </setup>
          </degriz_dbchange_setup>
        </resources>  
    </global>
    <frontend>
        <layout>
            <updates>
                <degriz_categoryfaq>
                    <file>degriz/categoryfaq.xml</file>
                </degriz_categoryfaq>
            </updates>
        </layout>
    </frontend>
</config>